<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.auramap"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:icon="@drawable/icon" android:label="@string/app_name">
    	<activity android:name=".Auramap"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".GetTag" android:label="GetTagLabel"/>
        <activity android:name=".TextURL" android:label="TextURLLabel"/>
        <activity android:name=".ConnectionResource" android:label="ConnectionResourceLabel"/>
        <activity android:name=".MoodMap" android:label="MapLabel"/>
        <activity android:name=".SendPoint" android:label="Sends Aurapoint to the Server"/>
        <activity android:name=".QueryScreen" android:label="QueryScreen"/>
        <activity android:name=".ProgressScreen" android:label="ProgressScreen"/>
        <activity android:name=".OptionsScreen" android:label="Change Options"/>
        <activity android:name=".BuddyScreen" android:label="View your Buddies"/>
        <activity android:name=".RegisterPhone" android:label="Register your Phone"/>
        <activity android:name=".UpdateBuddies" android:label="Update your Buddies"/>
        <activity android:name=".GetBuddy" android:label="View single buddy"/>
        <activity android:name=".ImageURL" android:label="Gets image from server"/>
        <service android:name=".NudgeService"/>
    <uses-library android:name="com.google.android.maps"/>
    </application>
    <uses-sdk android:minSdkVersion="3" />
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.ACCESS_GPS"/>
    <uses-permission android:name="android.permission.ACCESS_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission xmlns:android="http://schemas.android.com/apk/res/android" android:name="android.permission.INTERNET"></uses-permission>
</manifest> 